body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url(../../Images/secondary_background.jpg) no-repeat fixed center;
  background-size: cover;
  position: relative;
  color: white;
}

.container1 {
  padding-top: 120px;
  width: 87% !important;
  margin: auto;
}

.container2 {
  /* padding-top: 5px; */
  width: 87% !important;
  margin: auto;
}

.background-color {
  background-color: #1a1919f1;
}

.overlayOnImage {
  position: absolute;
  z-index: -5;
  width: 100% !important;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #1a1919f1;
}

.titles-page {
  font-size: 55px;
}

.introuduction-text h4 {
  font-size: 38px !important;
}

.titles-page1 {
  color: #bf9b30;
}

.instructor-text,
.instructor-subtext {
  font-size: 25px;
  font-weight: 600;
}

.instructor-text {
  color: #bf9b30;
}

button {
  /* width: 200px; */
  /* height: 60px; */
  background-color: #bf9b30;
  color: white !important;
  font-size: 20px;
  font-weight: 600 !important;
  text-transform: uppercase !important;
}

@media (max-width: 567px) {
  .titles-page {
    font-size: 35px !important;
  }

  .introuduction-text h4 {
    font-size: 23px !important;
  }

  .instructor-text,
  .instructor-subtext {
    font-size: 18px;
    font-weight: 300;
  }

  /* button {
    height: 40px !important;
    font-size: 13px;
    width: 110px !important;
  } */
}

/* ///////////////////////////////////////    Sub Title      //////////////////////////////////////////// */

.studentportal {
  color: #b7b4b4;
  font-size: 20px;
}

.studentportalline {
  background-color: #bf9b30;
  width: 115px;
  height: 1px;
  margin: -7px 0px 5px 2px;
}

@media (max-width: 567px) {
  .studentportal {
    font-size: 17px;
  }
}

/* ////////////////////////     Student Portal Title And View    //////////////////// */

.welcom-back,
.welcom-back1 {
  font-size: 30px;
  text-transform: uppercase;
}

.welcom-back1 {
  color: #bf9b30;
}

.btn-view-profile {
  /* width: 200px; */
  background-color: #bf9b30;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .welcom-back,
  .welcom-back1 {
    font-size: 20px;
  }
}

@media (max-width: 567px) {
  .welcom-back,
  .welcom-back1 {
    font-size: 20px;
  }

  .btn-view-profile {
    /* font-size: 13px;
    margin-top: 30px;
    width: 110px;
    padding: 7px !important; */
    font-size: 14px;
  }
}

/* ///////////////////////////////////     Number Upcoming And Registered And Completed    //////////////////////////// */

.Number-Upcoming-Registered-Completed {
  width: 100% !important;
  border-radius: 8px;
  padding: 80px 0px 80px 50px;
  background-color: rgba(0, 0, 0, 0.755);
  margin-left: 0px !important;
}

@media (max-width: 567px) {
  .Number-Upcoming-Registered-Completed {
    padding: 0px;
  }
}

.Number-Upcoming-Registered h2 {
  height: 100px;
  font-size: 50px;
  font-weight: 600;
  border: 2px solid #bf9b30;
  border-radius: 5px;
  padding: 15px 0px;
}

.Number-Upcoming-Registered p {
  font-size: 34px;
}

/* //////////////////////////////   Level And ProgressBar    //////////////////////////////////////// */

.LevelAndProgressBar h4 {
  margin-bottom: 23px;
  font-size: 38px;
}

@media (max-width: 567px) {
  .LevelAndProgressBar h4 {
    margin-bottom: 13px;
    font-size: 19px;
  }
}

.progress {
  height: 11px !important;
  padding: 0 !important;
}

.progress-bar {
  background-color: #bf9b30;
}

/* //////////////////////////////////      All Clear          //////////////////////////////// */

.AllClear {
  border-radius: 5px;
  background-color: #b7b4b467;
  padding: 60px 0px 50px 30px !important;
  margin: 50px 0px !important;
}

.AllClear i {
  font-size: 70px;
}

.AllClear h4 {
  margin: -13px 0px 0px 30px !important;
  font-size: 35px;
}

@media (max-width: 567px) {
  .AllClear h4 {
    font-size: 20px !important;
    padding-left: 10px !important;
  }

  .AllClear i {
    font-size: 50px !important;
  }

  .AllClear {
    padding: 43px 10px 30px 5px !important;
  }
}

/* //////////////////////////////      Registered Courses     //////////////////////////// */

.Registered-Upcoming {
  margin: 50px 0px !important;
}

.Registered-Courses {
  border-radius: 8px;
  padding: 30px 0px 0px 20px !important;
  background-color: rgba(0, 0, 0, 0.962);
}

.Registered-Courses {
  margin: 50px 0px 35px !important;
}

.Registered-Courses h3 {
  font-size: 35px;
}

.lev1-view {
  margin-top: 40px !important;
}

@media (max-width: 567px) {
  .Registered-Courses h3 {
    font-size: 23px !important;
  }

  .lev1-view {
    margin-top: 5px !important;
  }
}

/* ///////////////////////////////////    Upcoming  Exams /////////////////////// */
.lev1Exam {
  font-size: 23px !important;
}

.list-group-item {
  background-color: #bf9b30 !important;
  border: none !important;
}

.list-group {
  background-color: rgba(0, 0, 0, 0.962);
}

@media (max-width: 567px) {
  .lev1Exam {
    font-size: 19px !important;
  }
}

/* /////////////////////////////////         Here-Is-How-You  //////////////////////////// */

.card-body,
.card-body1 {
  background: rgba(0, 0, 0, 0.962);
}

.circularparent {
  margin: 30px 0px;
  position: relative;
  width: 200px !important;
  height: 200px !important;
}

.circularchildren {
  width: 9.2em;
  height: 9.2em;
  position: absolute;
}

.circularchildren h4 {
  font-size: 30px !important;
  font-weight: 800;
}

.card-text {
  font-size: 50px !important;
  font-weight: 700;
  margin: 25px 0px !important;
}

.props-title {
  font-size: 30px !important;
  font-weight: 700;
}

.hour {
  font-size: 25px !important;
  font-weight: 700;
}

@media (max-width: 567px) {
  .circularparent {
    margin: 30px 0px !important;
    position: relative;
    width: 105px !important;
    height: 105px !important;
  }

  .circularchildren {
    width: 5em;
    height: 5em;
    position: absolute;
  }

  .card-body {
    padding-top: 50px !important;
  }

  .props-title,
  .hour,
  .card-text,
  .circularchildren h4 {
    /* padding-top: 50px !important; */
    font-size: 20px !important;
    font-weight: 300;
    margin: 0px !important;
  }
}
/* //////////////////////////////////   Earned-Certificates     /////////////////////////////////////// */

.Earned-Certificates-box {
  border-radius: 8px;
  margin: 0px 0px 50px !important;
  padding: 35px 10px 30px 15px !important;
  background-color: rgba(0, 0, 0, 0.962);
}

.Earned-Certificates-text h4 {
  font-size: 38px !important;
}

.Earned-Certificates-subtitle1,
.Earned-Certificates-subtitle2 {
  font-size: 20px;
  font-weight: 600;
}

.Earned-Certificates-subtitle1 {
  color: #bf9b30;
}

.Earned-Certificates-button {
  width: 200px;
  background-color: #bf9b30;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 567px) {
  .Earned-Certificates-button {
    font-size: 13px;
    width: 110px !important;
    padding: 7px !important;
  }
}
