* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Primary: #fed049;
  --Secondary: #007580;
  --Red: #e01b24;
  --Grey: #fafafa;
  --Black: #000000;
}

.EditeProfilePage {
  height: 1200px;
}

/* start background */
.edit-profile-background {
  background-image: url(../../../Images/secondary_background.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 760px;
}

.edit-profile-overlay {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 1400px;
  background-color: #1a1919f1;
  opacity: 0.8.5;
  /* z-index: 5; */
}

.edit-profile-container {
  height: 1200px;
  width: 80%;
  margin: auto;
}

.edit-profile-icon {
  position: relative;
}

.icon-edit {
  font-size: 100px;
  /* border-radius: 50%; */
}

.edit-button {
  position: absolute;
  right: 10px;
  top: 8px;
}

.EDIT-PROFILE {
  background-color: #fed049;
}

.div-1-edit-profile {
  margin-left: 20px;
}

.edit-profile-h3 {
  font-size: 20px;
}

.edit-profile-p {
  font-size: 14px;
  margin-bottom: 10px;
}

.img {
  width: 100px;
  height: 100px;
}

.SOFTWARE {
  font-size: 23px;
  padding-left: 20px;
}

.seffuture {
  padding-left: 20px;
}

.lll {
  color: #fed049;
}

.edit-profile-spp {
  color: #fed049;
}

.number {
  margin-left: 7px;
}

.num {
  margin-left: 7px;
}

.ppppp {
  font-size: 20px;
}

.fffff {
  position: relative;
}

.edit-info-1 {
  background-color: rgba(0, 0, 0, 0.527);
  color: white;
  padding: 40px 0px 40px 15px;
  border-radius: 8px;
  position: relative;
}

.SP {
  padding: 20px 0px 10px 15px;
  font-size: 11px;
}

.SP {
  color: #fed049;
}

.edit-info-2 {
  background-color: rgba(0, 0, 0, 0.527);
  margin-top: 28px;
  color: white;
  padding: 40px 0px 40px 15px;
  border-radius: 8px;
  position: relative;
}

.edit-introducrtion {
  margin-top: -5px;
}

.edit-inprogress {
  color: white;
  margin: 30px 0px 20px 0px;
  padding: 40px 0px 0px 15px;
}

.edit-LEV {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.navbar {
  font-size: 13px;
}

.btn {
  font-size: 13px;
}

ul {
  /* display: flex; */
  justify-content: space-between;
}

.ull {
  width: 60%;
}

.container {
  z-index: 300;
}

/* End container */
/* start profile div */
.profile {
  width: 120px;
}

.edit-line {
  height: 0.2px;
  width: 83px;
  background-color: #fed049;
  margin-top: -5px;
  margin-bottom: 10px;
}

/* end profile div */

.person {
  align-items: center;
  height: 160px;
  background-color: rgba(0, 0, 0, 0.527);
}

.hidde {
  width: 150px !important;
  margin-left: 600px;
}

.div-pa {
  margin-left: 20px;
}

.edit-right-div,
.edit-profile-About,
.info {
  background-color: rgba(0, 0, 0, 0.527);
  border-radius: 5px;
}

.edit-right-div {
  padding: 0px 0px 130px;
}

.rd {
  padding: 4px;
  margin-top: 8px;
}

.edit-input1 {
  background-color: rgba(201, 201, 201, 0.281);
  border-radius: 5px;
  color: white;
  padding: 4px;
  width: 100%;
  border: none;
  margin-top: 8px;
}

.edit-label1 {
  display: block;
  padding: 10px 0px;
}

.edit-input2 {
  width: 100%;
  display: block;
  background-color: rgba(201, 201, 201, 0.281);
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  color: white;
}

.edit-input3 {
  width: 89%;
  display: block;
  display: block;
  background-color: rgba(201, 201, 201, 0.281);
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  color: white;
  margin: 10px 11% 0px;
}

.edit-profile-about-box {
  background-color: #0000009a !important;
  padding: 0px 10px 30px;
  border-radius: 8px;
}

.edit-profile-About {
  color: white;
  min-height: 175px;
  position: relative;
}

.edite-p-about {
  padding: 12px;
  margin: 0px 10px 0px 10px;
  border-radius: 8px;
  background-color: rgba(201, 201, 201, 0.281);
  color: white;
}

.fe-icon {
  width: 8%;
  color: #fed049;
}

.edit-about {
  color: white;
  padding: 40px 0px 0px 15px;
}

.nav-navbarr {
  margin-left: -10px;
  padding: 0px 0px 15px 40px;
}

.nav-navbarr li {
  list-style: none;
  display: inline;
  margin-left: 10px;
}

.speech {
  background-color: rgba(201, 201, 201, 0.027);
}

.PHONEE {
  width: 27%;
  position: absolute;
  right: 0px;
}

.edit-profile-icon-2 {
  color: #fed049;
}

.edite-right-div {
  min-height: 1000px;
}

.div-tex {
  border-radius: 5px;
  background-color: black;
  width: 90%;
  margin: -90px auto;
  height: 50px;
  line-height: 50px;
  font-size: 21px;
  padding-left: 16px;
}

.edit-div-3 {
  width: 51%;
  height: 300px;
  color: white;
}

.edit-profile-left {
  width: 47%;
  margin-left: 2%;
  height: 300px;
}

.edit-input-div {
  color: white;
  margin-top: 11px;
}

.edit-profile-text {
  border-radius: 5px;
  background-color: black;
  width: 90%;
  margin: -100px auto;
  height: 50px;
  line-height: 50px;
  font-size: 21px;
  padding-left: 16px;
}

.edit-div-4 {
  width: 90%;
  margin: 120px auto;
  color: white;
}

option {
  background-color: #000000;
}

.edit-div-contact {
  margin: 110px auto;
  width: 90%;
  color: white;
}

.div-icon {
  margin: -95px auto;
  width: 90%;
  color: white;
}

.icon-email {
  font-size: 28px;
}

.icon-mob-edit {
  margin-left: 3%;
}

.edit-line2 {
  width: 100%;
  height: 0.5px;
  background-color: white;
  margin: 20px 0px;
}

.foter {
  min-height: 320px;
  margin: 150px auto 0px;
  width: 80%;
  background-color: black;
}

.cona1 {
  display: none;
}

.cona2 {
  display: block;
  width: 28%;
}

.cona2 {
  font-size: 20px;
  margin-left: auto;
}

.PHONEE2 {
  color: #fed049;
  margin-left: 23px;
}

.PHONEE9 {
  display: none;
}

.edit-person-div {
  width: 90%;
  margin: 20px auto;
  height: 300px;
}

.edit-div-info {
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  width: 90%;
  margin: 20px auto;
  height: 50px;
  line-height: 50px;
  font-size: 21px;
  padding-left: 16px;
}

.mid {
  width: 60%;
  padding-bottom: 20px;
}

.sp1 {
  margin-left: 10%;
}

@media (max-width: 992px) {
  .edit-profile-icon-2 {
    display: none;
  }

  .div-1 {
    width: 450px;
    margin-left: 40px;
  }

  .div-pa {
    margin-left: 20px;
  }

  .overlay {
    height: 2550px;
  }

  .edit-profile-About {
    margin-top: 50px;
  }

  .foter {
    margin-top: 1100px;
  }

  .nav-navbarr,
  .PHONEE1,
  .PHONEE2 {
    display: none;
  }

  .cona1 {
    display: block;
  }

  .cona2 {
    display: none;
  }

  .SOFWARE {
    width: 80%;
    padding-left: 10px;
  }

  .SOFWARE1 {
    width: 10%;
  }

  .SOFWARE1 i {
    font-size: 28px;
  }

  .hight {
    width: 400px;
  }

  .PHONEE {
    display: none;
  }

  .PHONEE9 {
    width: 300px;
    display: block;
  }

  .mid {
    width: 100%;
    text-align: center;
  }
}

/*start tablet view */
@media (max-width: 768px) {
  .edit-profile-about-box {
    margin-top: 30px;
  }

  .person {
    height: 230px;
  }

  .div-1 {
    margin-left: -20px;
  }

  .div-pa {
    margin-left: -20px;
  }

  .edit-profile-overlay {
    height: 2500px;
  }

  .edit-left-div {
    margin-top: 20px;
  }

  .foter {
    margin-top: 1150px;
  }

  .edit-line2 {
    display: none;
  }

  .hidde {
    margin-left: 50px !important;
  }

  .iconat {
    margin-top: 20px;
  }

  .mid {
    width: 100%;
  }

  .hh {
    width: 600px;
    /* background-color: #007580; */
    padding-left: 85px;
  }
}

/* end tablet view */

/* start mobile view */
@media (max-width: 567px) {
  .edit-profile-overlay {
    height: 2550px !important;
  }

  .edit-profile-About {
    min-height: 230px;
  }

  .hidde {
    width: 120px !important;
  }

  .edit-left-div {
    margin-left: 0px;
    margin-right: 0px;
  }

  .sara {
    position: relative;
    min-height: 140px;
  }

  .mo {
    position: relative;
    min-height: 150px;
  }

  .foter {
    margin-top: 1400px;
  }
}

/* end mobile view */

@media (max-width: 500px) {
  .mo {
    position: relative;
    min-height: 160px;
  }

  .edit-profile-About {
    min-height: 240px;
  }

  .edit-profile-overlay {
    height: 2700px;
  }

  .SOFWARE1 {
    width: 20%;
  }
}
